:root{
    --texto-principal: #000;
    --borda-principal: #000;
    --fundo-principal: #6ef50e;
    --fundo-secundario: #cccccc;
    --cor-hover: #070707;
    --cor-visited: #678876;
}

*{
    margin:auto;
} 

h1{
    font-size: 90px;
    color: var(--texto-principal);
    margin-left: 15px;
}

header > h2, header > p{
    font-size: 20px;
}

header > h2, section{
    margin: 10px 0px 0px 15px;
}

header, footer{
    background-color: var(--fundo-principal);
    font-family:  'Cambria', 'Arial';
}

header > p{
    font-style: italic;
    margin: 5px 0px 0px 15px;
    padding-bottom: 5px;
}

section{
    font-family:'Arial';
}

section > h2{
    padding: 10px 0px 10px 0px;
}

label{
    margin: 5px 0px 5px 0px;
    display: block;
}

input, select, button{
    border: 1px solid var(--borda-principal);
    font-family: 'Arial';
    font-weight: bold;
    color: var(--texto-principal);
}

input, select{
    background-color: var(--fundo-secundario);
}

button{
    margin-top: 15px;
    background-color: var(--fundo-principal);
    height: 30px;
}

table, tr, th, td{
    margin: 0px;
    font-family: 'Arial';
}

table{
    background-color: var(--fundo-secundario);
    border: 1px solid var(--borda-principal);
}

footer{
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

a:visited{
    color: var(--cor-visited);
}

a:hover{
    color: var(--cor-hover);
}