:root{
    --texto-principal: #000;
    --borda-principal: #000;
    --texto-secundaria: #87cf1b;
    --cor-borda-secundaria: #000;
    --fundo-principal: #6ef50e;
    --fundo-secundario: #cccccc;
}

*{
    margin:auto;
} 

h1{
    font-size: 90px;
    color: var(--texto-principal);
    margin-left: 15px;
}

header > h2, header > p{
    font-size: 20px;
}

header > h2, section{
    margin: 10px 0px 0px 15px;
}

header{
    background-color: var(--fundo-principal);
    font-family:  'Cambria', 'Arial';
}

header > p{
    font-style: italic;
    margin: 5px 0px 0px 15px;
    padding-bottom: 5px;
}

section{
    font-family:'Arial';
}

section > h2{
    padding: 10px 0px 10px 0px;
}

label{
    margin: 5px 0px 5px 0px;
    display: block;
}

input, select, button{
    border: 1px solid var(--borda-principal);
    font-family: 'Arial';
    font-weight: bold;
    color: var(--texto-principal);
}

input, select{
    background-color: var(--fundo-secundario);
}

button{
    margin-top: 15px;
    background-color: var(--fundo-principal);
    height: 30px;
}
