:root{
    --cor-principal: #6af805;
    --cor-borda-principal: #000;
    --cor-secundaria: #87cf1b;
    --cor-borda-secundaria: #000;
    --fundo-principal: #6ef50e;
    --fundo-secundario: #66A7A7;
    --texto-principal: #6aF7C2;
    --texto-secundario: #6bd6a5;
}


